/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-family);
    background-color: #f;
    padding: 20px;
}*/

.form-control,
.form-select {
    border-radius: 8px !important;
}



/*.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.main {
    text-align: center;
    margin-bottom: 20px;
}

    .main .imag {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .main .btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        .main .btn:hover {
            background-color: #45a049;
        }*/

/* Company section styles */
/*.Company {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .Company label {
        font-weight: bold;
        color: #333;
    }

    .Company input, .Company select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

        .Company input[type="text"], .Company input[type="email"], .Company input[type="password"], .Company select {
            max-width: 400px;
            margin: 5px auto;
        }

    .Company select {
        padding: 10px 20px;
    }*/

/* Button container styles */
/*.btun {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

    .btun button {
        background-color: #007BFF;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 45%;
    }

        .btun button:hover {
            background-color: #0056b3;
        }*/
